body{
    background: #f1f1f1;
    color: #555;
 }
 h1 {
     color: rgb(104, 0, 90);
     text-align: center;
     font-family: 'Signika', sans-serif;
     font-weight: bold;
     letter-spacing: 2.5px;
     font-size: 48px;
     padding-bottom: 10px;
   }
  h2 {
    color: rgb(100, 100, 100);
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 10px;
  }
 
 .campoStatus{
   font-family: Helvetica;
   font-weight: bold;
   font-size: 16px;
   color: black;
 }
 
 #btFim{
   background-color:rgb(87, 0, 75);
   border: none;
   color: white;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   display: 
   font-size: 16px;
   border-radius: 4px;
   font-weight: bold;
}
#btFim:hover{
    background-color:rgb(186, 52, 248);}
 
 .fStyle{
     font: 95% Arial, Helvetica, sans-serif;
     max-width: 400px;
     margin: 10px auto;
     padding: 16px;
     background: rgb(216, 214, 214);
 }

 .fStyle h3{
     background: rgb(127, 64, 211);
     padding: 20px 0;
     font-size: 140%;
     font-weight: 300;
     text-align: center;
     color: #fff;
     margin: -16px -16px 16px -16px;
 }
 .fStyle input[type="text"],
 .fStyle input[type="number"],
 .fStyle textarea,
 .fStyle select 
 {
     -webkit-transition: all 0.30s ease-in-out;
     -moz-transition: all 0.30s ease-in-out;
     -ms-transition: all 0.30s ease-in-out;
     -o-transition: all 0.30s ease-in-out;
     outline: none;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     width: 100%;
     background: #fff;
     margin-bottom: 4%;
     border: 1px solid #ccc;
     padding: 3%;
     color: #555;
     font: 95% Arial, Helvetica, sans-serif;
 }
 .fStyle input[type="text"]:focus,
 .fStyle input[type="date"]:focus,
 .fStyle input[type="datetime"]:focus,
 .fStyle input[type="email"]:focus,
 .fStyle input[type="number"]:focus,
 .fStyle input[type="search"]:focus,
 .fStyle input[type="time"]:focus,
 .fStyle input[type="url"]:focus,
 .fStyle textarea:focus,
 .fStyle select:focus
 {
     box-shadow: 0 0 5px rgb(96, 26, 187);
     padding: 3%;
     border: 1px solid rgb(127, 64, 211);
 }
 
 .fStyle input[type="submit"],
 .fStyle input[type="button"]{
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     width: 100%;
     padding: 3%;
     background:rgb(127, 64, 211);
     border-bottom: 2px solid rgb(96, 26, 187);
     border-top-style: none;
     border-right-style: none;
     border-left-style: none;	
     color: #fff;
 }
 .fStyle [type="submit"]:hover,
 .fStyle [type="button"]:hover{
     background: rgb(141, 72, 231);
 }

/*SCROLL BAR*/

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(127, 64, 211); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
 
